body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-container:hover {
    cursor: pointer;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
}
.logo {
    width: 4rem;
}
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border: thin solid black;
    padding: 0.25%;
    border-radius: 50px;
    width: 50%;
}
.search-post {
    border-style: none;
    width: 100%;
}
.search-post:focus {
    outline: none;
}
.login-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 2.5%;
}
.login-button {
    background-color: red;
    border-radius: 15px;
    color: white;
    border-color: red;
    border-width: 5px;
    font-size: 1.25rem;
}
.login-button:hover {
    cursor: pointer;
}
.content-container {
    background-color: rgb(217, 223, 229);
    display: grid;
    grid-template-columns: 2fr 1fr ;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4%;
}
.about-container {
    background-color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 4.5%;
    font-size: 80%;
}
.about-title {
    font-size: 0.75rem;
    font-weight: bold;
}
a {
    text-decoration: none;
}
.about-link {
    color: red;
}
.board-section-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-right: 5%;
    padding: 1.5%;
}
.board-section {
    display: flex;;
    align-items: center;
    gap: 5px;
    color: rgb(111, 111, 111);
    font-weight: bold;
}
.board-section:hover {
    cursor: pointer;
    color: rgb(1, 120, 210);
}
.individual-post {
    background-color: white;
    margin-top: 2.5%;
    margin-right: 5%;
    padding: 3%;
    display: grid;
    grid-template-columns: 0.05fr 1fr;
}
.first-column {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -85%;
}
.upArrow:hover {
    cursor: pointer;
    color: red;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5%;
}
.downArrow:hover {
    cursor: pointer;
    color: rgb(1, 120, 210);
    background-color: lightgray;
    border-radius: 5px;
    padding: 5%;
}
.post-user {
    font-size: 0.75rem;
    color:rgb(111, 111, 111);
    margin-left: -15%;
    margin-bottom: 2.5%;
}
.post-title {
    margin-left: -15%;
    font-weight: 500;
    font-size: 1.15rem;
}
.post-comments {
    margin-left: -15%;
    margin-top: 5%;
    font-size: 0.75rem;
    color:rgb(111, 111, 111);
    padding: 2.5%;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.post-comments:hover {
    width: 25%;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.post-image {
    margin-top: 5%;
    width: 50%;
    align-self: center;
    margin-left: -25%;
}
.second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15%;
}
.post-link {
    margin-top: 2.5%;
    font-size: 0.85rem;
    margin-left: -15%;
    color: rgb(1, 120, 210);
}
.post-link-container {
    display: flex;
    justify-content: space-between;
}
.link-square {
    border: thin solid rgb(1, 120, 210);
    border-radius: 2.5px;
    width: 25%;
    cursor: pointer;
}
.link-in-box-container {
    font-size: 0.75rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
    margin-top: -48px;
}
.link-in-box {
    color: white;
    width: 13px;
    border-radius: 1.5px;
    background-color: rgb(1, 120, 210);
    padding-left: 1.5%;
    padding-top: 1.5%;
    
}
.chain-in-square {
    color:rgb(1, 120, 210);
    font-size: 2.5rem;
    position: relative;
    top: 30%;
    left: 40%;
}
.backtop-button-container {
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
}
.backtop-button {
    background-color: rgb(1, 120, 210);
    border-color: white;
    border-width: 5px; 
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5%;
    border-radius: 25%;
    cursor: pointer;
}